!!!
%html
  = render 'layouts/head'
  %body
    = render 'layouts/header'
    = render 'layouts/flash'          
    .container      
      .row.main
        .col-xs-12
          = yield
      - if Rails.env.development?
        .row
          .col-xs-12
            = debug(params)
    = render 'layouts/footer'
